
# IDBM_Movie_Data

In [ ]:
#basic analysis using pandas and numpy revision project

In [ ]:
import pandas as pd
import numpy as np

#### Load the data into your working area and get the information about the null values.

In [ ]:
movies_data = pd.read_csv('/content/sample_data/IMDB_Movie_Data.csv', index_col ='Title' )
movies_data.head()

                         Rank  ... Metascore
Title                          ...
Guardians of the Galaxy     1  ...      76.0
Prometheus                  2  ...      65.0
Split                       3  ...      62.0
Sing                        4  ...      59.0
Suicide Squad               5  ...      40.0

[5 rows x 11 columns]

In [ ]:
movies_data.tail()

                        Rank  ... Metascore
Title                         ...
Secret in Their Eyes     996  ...      45.0
Hostel: Part II          997  ...      46.0
Step Up 2: The Streets   998  ...      50.0
Search Party             999  ...      22.0
Nine Lives              1000  ...      11.0

[5 rows x 11 columns]

In [ ]:
# Let's see the shape of the data file

In [ ]:
movies_data.shape

(1000, 11)

In [ ]:
# Let's see how many columns have missing values and count them using sum() method

In [ ]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 93.8+ KB

In [ ]:
movies_data.isnull().sum()

Rank                    0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

#### Rename the columns for the analysis purpose if any columns are not in proper way.

In [ ]:
# displaying columns reveals that some solums are not in the proper way:
# we can modify them using rename() method and convert the title type to lowercase for analysis purpose

In [ ]:
movies_data.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [ ]:
movies_data.rename(columns={ 'Runtime (Minutes)': 'Runtime', 'Revenue (Millions)': 'Revenue'}, inplace=True)

In [ ]:
movies_data.columns

Index(['Rank', 'Genre', 'Description', 'Director', 'Actors', 'Year', 'Runtime',
       'Rating', 'Votes', 'Revenue', 'Metascore'],
      dtype='object')

In [ ]:
# we can use columns name attribute to lowecase the columns using list like object

In [ ]:
movies_data.columns = ['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime', 
                      'rating', 'votes', 'revenue', 'metascore']

In [ ]:
movies_data.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

In [ ]:
# alternatevely we can use list comprehension method to lowercase the column names

In [ ]:
movies_data.columns = [col.lower() for col in movies_data]
movies_data.columns

Index(['rank', 'genre', 'description', 'director', 'actors', 'year', 'runtime',
       'rating', 'votes', 'revenue', 'metascore'],
      dtype='object')

#### Handle the missing value columns with the proper assumtion.

In [ ]:
# Let's handle the missing values

In [ ]:
movies_data.isnull()

                          rank  genre  ...  metascore  rating_review
Title                                  ...
Guardians of the Galaxy  False  False  ...      False          False
Prometheus               False  False  ...      False          False
Split                    False  False  ...      False          False
Sing                     False  False  ...      False          False
Suicide Squad            False  False  ...      False          False
...                        ...    ...  ...        ...            ...
Secret in Their Eyes     False  False  ...      False          False
Hostel: Part II          False  False  ...      False          False
Step Up 2: The Streets   False  False  ...      False          False
Search Party             False  False  ...      False          False
Nine Lives               False  False  ...      False          False

[1000 rows x 12 columns]

In [ ]:
movies_data.isnull().sum()

rank              0
genre             0
description       0
director          0
actors            0
year              0
runtime           0
rating            0
votes             0
revenue           0
metascore        64
rating_review     0
dtype: int64

In [ ]:
# we can also remove the columns having missing values using dropna() method with 'axis=1'

In [ ]:
# movies_data.dropna(axis=1)

In [ ]:
# movies_data

In [ ]:
# now replace the missing values of revenue column by its mean value using fillna() method

In [ ]:
revenue = movies_data['revenue']

In [ ]:
revenue

Title
Guardians of the Galaxy    333.130000
Prometheus                 126.460000
Split                      138.120000
Sing                       270.320000
Suicide Squad              325.020000
                              ...
Secret in Their Eyes        82.956376
Hostel: Part II             17.540000
Step Up 2: The Streets      58.010000
Search Party                82.956376
Nine Lives                  19.640000
Name: revenue, Length: 1000, dtype: float64

In [ ]:
revenue.fillna(revenue.mean(), inplace=True)

In [ ]:
movies_data.isnull().sum()

rank              0
genre             0
description       0
director          0
actors            0
year              0
runtime           0
rating            0
votes             0
revenue           0
metascore        64
rating_review     0
dtype: int64

In [ ]:
# in order to work with the other data available; first we need get the minimum details about the data using describe()
# method

In [ ]:
movies_data.describe()

              rank         year  ...      revenue   metascore
count  1000.000000  1000.000000  ...  1000.000000  936.000000
mean    500.500000  2012.783000  ...    82.956376   58.985043
std     288.819436     3.205962  ...    96.412043   17.194757
min       1.000000  2006.000000  ...     0.000000   11.000000
25%     250.750000  2010.000000  ...    17.442500   47.000000
50%     500.500000  2014.000000  ...    60.375000   59.500000
75%     750.250000  2016.000000  ...    99.177500   72.000000
max    1000.000000  2016.000000  ...   936.630000  100.000000

[8 rows x 7 columns]

In [ ]:
# we can easily use describe() method on individual column to get the information about that, say for ex:'genre'

In [ ]:
movies_data['genre'].describe()

count                        1000
unique                        207
top       Action,Adventure,Sci-Fi
freq                           50
Name: genre, dtype: object

In [ ]:
movies_data['genre'].value_counts().head(n=30)

Action,Adventure,Sci-Fi       50
Drama                         48
Comedy,Drama,Romance          35
Comedy                        32
Drama,Romance                 31
Action,Adventure,Fantasy      27
Comedy,Drama                  27
Animation,Adventure,Comedy    27
Comedy,Romance                26
Crime,Drama,Thriller          24
Crime,Drama,Mystery           23
Action,Adventure,Drama        18
Action,Crime,Drama            17
Horror,Thriller               16
Drama,Thriller                15
Adventure,Family,Fantasy      14
Biography,Drama               14
Biography,Drama,History       14
Action,Adventure,Comedy       14
Action,Crime,Thriller         12
Action,Comedy,Crime           12
Horror                        11
Action,Adventure,Thriller     11
Crime,Drama                   10
Biography,Crime,Drama          9
Horror,Mystery,Thriller        9
Thriller                       9
Action,Thriller                9
Animation,Action,Adventure     9
Drama,Mystery,Thriller         8
Name: genre, dtype: int64

#### Generate the relationship between each continuous variable using corr() method.

In [ ]:
# to know the positive and negative relationship between the columns we can use 'corr' method which gives the details 
# about the correlation between the columns in dataframe object

In [ ]:
movies_data.corr()

               rank      year   runtime  ...     votes   revenue  metascore
rank       1.000000 -0.261605 -0.221739  ... -0.283876 -0.252996  -0.191869
year      -0.261605  1.000000 -0.164900  ... -0.411904 -0.117562  -0.079305
runtime   -0.221739 -0.164900  1.000000  ...  0.407062  0.247834   0.211978
rating    -0.219555 -0.211219  0.392214  ...  0.511537  0.189527   0.631897
votes     -0.283876 -0.411904  0.407062  ...  1.000000  0.607941   0.325684
revenue   -0.252996 -0.117562  0.247834  ...  0.607941  1.000000   0.133328
metascore -0.191869 -0.079305  0.211978  ...  0.325684  0.133328   1.000000

[7 rows x 7 columns]

In [ ]:
type(movies_data['genre'])

pandas.core.series.Series

In [ ]:
type(movies_data[['genre']])

pandas.core.frame.DataFrame

#### Find the movies directed by 'James Gunn', & 'Ridley Scott' with the rating greater than or equal to 8.

In [ ]:
# Let's use the conditional statements to get the list of films directesd by 'James Gunn' with 'rating' greater than or 
# equal to 8

In [ ]:
condition = (movies_data['director'] == "James Gunn") & (movies_data['rating'] >= 8.0)
#condition.head()

In [ ]:
movies_data[condition]

                         rank                    genre  ... revenue metascore
Title                                                   ...
Guardians of the Galaxy     1  Action,Adventure,Sci-Fi  ...  333.13      76.0

[1 rows x 11 columns]

In [ ]:
# similarly Let's use the conditional statements to get the list of films directesd by 'Ridley Scott' with 'rating' greater than or 
# equal to 8

In [ ]:
condition2 = (movies_data['director'] == "Ridley Scott") & (movies_data['rating'] >= 8.0)

In [ ]:
movies_data[condition2]

             rank                   genre  ... revenue metascore
Title                                      ...
The Martian   103  Adventure,Drama,Sci-Fi  ...  228.43      80.0

[1 rows x 11 columns]

#### Display all the movies directed by 'Ridley Scott'.

In [ ]:
# display only the films directed by the 'Ridley Scott'

In [ ]:
movies_data[movies_data['director'] == "Ridley Scott"]

                        rank                     genre  ... revenue metascore
Title                                                   ...
Prometheus                 2  Adventure,Mystery,Sci-Fi  ...  126.46      65.0
The Martian              103    Adventure,Drama,Sci-Fi  ...  228.43      80.0
Robin Hood               388    Action,Adventure,Drama  ...  105.22      53.0
American Gangster        471     Biography,Crime,Drama  ...  130.13      76.0
Exodus: Gods and Kings   517    Action,Adventure,Drama  ...   65.01      52.0
The Counselor            522      Crime,Drama,Thriller  ...   16.97      48.0
A Good Year              531      Comedy,Drama,Romance  ...    7.46      47.0
Body of Lies             738      Action,Drama,Romance  ...   39.38      57.0

[8 rows x 11 columns]

In [ ]:
type(movies_data[movies_data['rating'] >= 8.0])

pandas.core.frame.DataFrame

#### Display all the director's who got the rating >= 8 for their movies.

In [ ]:
# let's see the total number of films with 'rating' greater than or equal to 8

In [ ]:
movies_data[movies_data['rating'] >= 8.0]

                          rank  ... metascore
Title                           ...
Guardians of the Galaxy      1  ...      76.0
La La Land                   7  ...      93.0
Hacksaw Ridge               17  ...      71.0
Lion                        19  ...      69.0
Arrival                     20  ...      81.0
...                        ...  ...       ...
El secreto de sus ojos     743  ...      80.0
PK                         766  ...      51.0
How to Train Your Dragon   773  ...      74.0
Koe no katachi             862  ...      80.0
Taare Zameen Par           992  ...      42.0

[78 rows x 11 columns]

In [ ]:
# top director with highest films having 'rating' greater than or equal to 8

In [ ]:
movies_data['director'][movies_data['rating'] >= 8.0].value_counts()

Christopher Nolan    5
Denis Villeneuve     3
Martin Scorsese      3
J.J. Abrams          2
Pete Docter          2
                    ..
Byron Howard         1
Andrew Stanton       1
Lenny Abrahamson     1
Steve McQueen        1
Nitesh Tiwari        1
Name: director, Length: 65, dtype: int64

#### Find all the movies directed by 'James Gunn', & 'Ridley Scott'.

In [ ]:
# finding the films directed by either 'James Gunn' or 'Ridley Scott'

In [ ]:
condition_directors = (movies_data['director'] == 'James Gunn') | (movies_data['director'] == 'Ridley Scott')

In [ ]:
movies_data[condition_directors].head()

                         rank                     genre  ... revenue metascore
Title                                                    ...
Guardians of the Galaxy     1   Action,Adventure,Sci-Fi  ...  333.13      76.0
Prometheus                  2  Adventure,Mystery,Sci-Fi  ...  126.46      65.0
The Martian               103    Adventure,Drama,Sci-Fi  ...  228.43      80.0
Robin Hood                388    Action,Adventure,Drama  ...  105.22      53.0
American Gangster         471     Biography,Crime,Drama  ...  130.13      76.0

[5 rows x 11 columns]

#### Display all the movies with the ratings between 8 & 9 and also the films with the highest rating.

In [ ]:
# find the films with the highest rating; that is 9 in this case as per the information of the data

In [ ]:
movies_data['rating'].max()

9.0

In [ ]:
movies_data['rating'].min()

1.9

In [ ]:
movies_data['director'][movies_data['rating'] >= 9.0].value_counts()

Christopher Nolan    1
Name: director, dtype: int64

In [ ]:
movies_data[movies_data['rating'] == 9.0]

                 rank               genre  ... revenue metascore
Title                                      ...
The Dark Knight    55  Action,Crime,Drama  ...  533.32      82.0

[1 rows x 11 columns]

In [ ]:
# and the films with the rating between 8 and 9

In [ ]:
condition = (movies_data['rating'] >= 8.0) & (movies_data['rating'] <= 9.0)

In [ ]:
movies_data[condition]

                          rank  ... metascore
Title                           ...
Guardians of the Galaxy      1  ...      76.0
La La Land                   7  ...      93.0
Hacksaw Ridge               17  ...      71.0
Lion                        19  ...      69.0
Arrival                     20  ...      81.0
...                        ...  ...       ...
El secreto de sus ojos     743  ...      80.0
PK                         766  ...      51.0
How to Train Your Dragon   773  ...      74.0
Koe no katachi             862  ...      80.0
Taare Zameen Par           992  ...      42.0

[78 rows x 11 columns]

#### Find the movies directed by both 'Christopher Nolan' and 'Ridley Scott'

In [ ]:
# let's see the films directed by both 'Christopher Nolan' and 'Ridley Scott' using 'isin()' method

In [ ]:
movies_data[movies_data['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

                 rank                     genre  ... revenue metascore
Title                                            ...
Prometheus          2  Adventure,Mystery,Sci-Fi  ...  126.46      65.0
Interstellar       37    Adventure,Drama,Sci-Fi  ...  187.99      74.0
The Dark Knight    55        Action,Crime,Drama  ...  533.32      82.0
The Prestige       65      Drama,Mystery,Sci-Fi  ...   53.08      66.0
Inception          81   Action,Adventure,Sci-Fi  ...  292.57      74.0

[5 rows x 11 columns]

#### Find all movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 50th percentile in revenue.

In [ ]:
# finally we are at the end stage of this project
# here we are asked to find the films released in between the years 2006 & 2010, 'rating' greater than 8 and but made below the 50th percentile in revenue.

In [ ]:
condition_1 = ((movies_data['year'] >= 2006) & (movies_data['year'] <= 2010))
condition_2 = (movies_data['rating'] > 8.0) & (movies_data['revenue'] < movies_data['revenue'].quantile(0.5))

In [ ]:
movies_data[condition_1 & condition_2]

                        rank                      genre  ... revenue metascore
Title                                                    ...
The Prestige              65       Drama,Mystery,Sci-Fi  ...   53.08      66.0
Into the Wild            198  Adventure,Biography,Drama  ...   18.35      73.0
Pan's Labyrinth          231          Drama,Fantasy,War  ...   37.62      98.0
There Will Be Blood      300              Drama,History  ...   40.22      92.0
3 Idiots                 431               Comedy,Drama  ...    6.52      67.0
The Lives of Others      477             Drama,Thriller  ...   11.28      89.0
Incendies                714          Drama,Mystery,War  ...    6.86      80.0
El secreto de sus ojos   743      Drama,Mystery,Romance  ...   20.17      80.0
Taare Zameen Par         992         Drama,Family,Music  ...    1.20      42.0

[9 rows x 11 columns]

#### Find all movies that were released between 2006 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.

In [ ]:
# similarly made between the 25th percentile in revenue

In [ ]:
condition_3 = (movies_data['rating'] > 8.0) & (movies_data['revenue'] < movies_data['revenue'].quantile(0.25))

In [ ]:
movies_data[condition_1 & condition_3]

                     rank               genre  ... revenue metascore
Title                                          ...
3 Idiots              431        Comedy,Drama  ...    6.52      67.0
The Lives of Others   477      Drama,Thriller  ...   11.28      89.0
Incendies             714   Drama,Mystery,War  ...    6.86      80.0
Taare Zameen Par      992  Drama,Family,Music  ...    1.20      42.0

[4 rows x 11 columns]

#### Finally give the feedback for all movies with 'Good' if the movie 'rating' is >= 8 and 'Average' if the movie rating doesn't follow the condition given.

In [ ]:
# finally let's apply the function to rate the movies with 'Good' and 'Average' feedback for the 'rating' > 8 or <8 respectively
# using apply() method

In [ ]:
def r_f(x):
    if x >= 8.0:
        return "Good"
    else:
        return "Average"

In [ ]:
movies_data["rating_review"] = movies_data["rating"].apply(r_f)

movies_data.head()

                         rank  ... rating_review
Title                          ...
Guardians of the Galaxy     1  ...          Good
Prometheus                  2  ...       Average
Split                       3  ...       Average
Sing                        4  ...       Average
Suicide Squad               5  ...       Average

[5 rows x 12 columns]